/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

body{
    background-color: rgb(189, 218, 230);
    border:2px solid white;
    /* width:50%; */
    height: 100%;
}
img{
    margin-bottom: 60px;
}
footer{
    text-align: center;
    background-color: rgb(8, 8, 8);
    padding: 2%;
    color: white;
}
#rie{
    text-align: center;
}

.dye{
    border:2px solid black;
    padding:2px;
    width:400px;
    margin-left:700px;
}
